bin
obj
packages

.idea
.paket/paket.exe
.paket/paket.targets
.paket/Paket.Restore.targets
.paket/load
paket-files

*.nupkg

Tests/Elaborated
Tests/fs
Tests/bin

package/Release
package/*.tgz
/src/ZFS-SDK.sln.DotSettings.user
/src/ZFS-SDK.DotSettings.user
/src/.DS_Store
/.DS_Store
