generate_load_scripts: true

source https://www.nuget.org/api/v2
framework: 47

nuget FSharp.Compiler.Tools
nuget FSharp.Core
nuget System.ValueTuple
nuget ZFS-Tools 0.0.23
nuget FSharpx.Extras
nuget ZFStar 0.0.25
nuget FSharp.Configuration
nuget FSharp.Compatibility.OCaml

source https://www.myget.org/f/zenprotocol
framework: 47

nuget Zulib 0.3.36
nuget Infrastructure >= 0.9.4
nuget Consensus >= 0.9.4
nuget zen_secp256k1_osx
nuget zen_secp256k1_linux
nuget zen_z3_osx
nuget zen_z3_linux
nuget zen_z3_windows 4.5.1.7-v1f29cebd4df
